@import '../abstracts/variables';
@import '../abstracts/mixins';

.about__us{
    background-color: $off-white-bg;
    @include DisplayPosition( $align-items: center);
    div.row{
        margin: 3rem 0rem;
        div.col-6{
            @include DisplayPosition( $align-items: center);
            h2{
                font-family: $heading-font;
                font-weight: 400;
                width: 24rem;
                text-align: start;
                color: $dark-text;
                margin: 1rem;
            }
            p{
                font-family: $p-font;
                line-height: 160%;
                width: 24rem;
                color: $dark-text;
            }
            img{
                width: 23rem;
                height: 20rem;
            }
        }
    }
}