@mixin DisplayPosition($flex-direction, $justify-content, $align-items,){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    align-content: $align-content;
    align-self: $align-self;
    flex-wrap: $flex-wrap;
}