@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');

//Colors
//Background colors
$dusty-red-bg:#6b4748;
$off-white-bg: #f2f2f2;
$dark-grey-bg:#332929;
$white-bg:#ffffff;

//Text colors
$light-text:#ffffff;
$dark-text: #000000;

//Fonts
$heading-font: 'Roboto', sans-serif;
$p-font:'Open Sans', sans-serif;

//Stadard heights and widths
$section-height: 35rem;
$small-section-height: 32rem;
$smallsection-width:100%;

// $card-height:;
// $card-width:;

//Image links
//Hero-section

//images01.nicepagecdn.com/95/94/959442e7ce67c27b19ade3667cfeba2d.jpeg
